$primary: #2c003f;
$secondary: #58007e;

@font-face {
  font-family: Rofi;
  src: url('~/assets/fonts/RofiTaste.otf');
}

@font-face {
  font-family: Prida;
  src: url('~/assets/fonts/Prida02Calt.otf');
}

@font-face {
  font-family: Dandelon;
  src: url('~/assets/fonts/Dandeleon.otf');
}

@font-face {
  font-family: Znikomit;
  src: url('~/assets/fonts/Znikomit.otf');
}
