@font-face {
  font-family: Rofi;
  src: url('~/assets/style/fonts/RofiTaste.otf');
}

@font-face {
  font-family: Prida;
  src: url('~/assets/style/fonts/Prida02Calt.otf');
}

@font-face {
  font-family: Dandelon;
  src: url('~/assets/style/fonts/Dandeleon.otf');
}

@font-face {
  font-family: Znikomit;
  src: url('~/assets/style/fonts/Znikomit.otf');
}

@font-face {
  font-family: Maima;
  src: url('~/assets/style/fonts/miama.otf');
}

@font-face {
  font-family: Segan;
  src: url('~/assets/style/fonts/Segan-Light.ttf');
}

body {

  background-color: rgb(245, 245, 245);
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}
